@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
    margin: 0px;
    font-family: Inter;
}

body{
    background-color: #9b1c2c;
}

a {
    text-decoration: none;
    color: #9b1c2c;
}

h1 {
    position: relative;
    background-color: #041e42;
    width: 100%;
    margin-top: 0px;
    z-index: 1;
    color: aliceblue;
    padding: 1%;
    box-sizing: border-box; /* Added to include padding in total width */
}



#containerLeft {
    float: left;
    background-color: #041e42;
    color: aliceblue;
    width: 50%; /* Adjusted to 50% */
    min-height: 100vh;
    margin: 0;
    padding: 1%;
    text-align: justify;
    box-sizing: border-box; /* Added to include padding in total width */
}

#containerRight {
    float: right;
    background-color: #9b1c2c;
    color: aliceblue;
    width: 50%; /* Adjusted to 50% */
    min-height: 100vh;
    margin: 0;
    padding: 1%;
    text-align: justify;
    box-sizing: border-box; /* Added to include padding in total width */
}

blockquote {
    float: right;
    width: 200px;
    margin: 0px;
    margin-left: 15px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 5px;
}

img{
    width: 50%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

img:hover{
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0%;
}

body {
    color: white;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

/* Smartphones */
[class*='col-'] {
    float: left;
    width: 100%;
}



@media only screen and (min-width: 600px) {
    /* For Tablets */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }

}

@media only screen and (min-width: 889px) {
    /* For Desktops */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }

}

.aside{
    background-color: cyan;
    text-align: center;
}

.header{
    background-color: purple;
    padding: 40px;
}

.footer{
    background-color: blue;
    text-align: center;
    padding: 10px;
}

.main{
    color: black;
}

li {
    background-color: #041e42;
    margin: 1%;
    padding: 5px;
    border-radius: 5px; 
    list-style-type: none;
    text-align: left;
}

li:hover {
    background-color: #d9534f;
}