body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1,
h2 {
    color: #0056b3;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin-right: 10px;
}

dl {
    margin-top: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 10px;
}
